div {
   /* background-image: url("https://www.nntb.no/~dreibh/graphics/backgrounds/background-essen.png"); */
}

/* ###### General Settings ##############################################  */
html, body {
   /* height:           100%; */
   padding:          0;
   margin:           0;
   font-family:      sans-serif;
   font-size:        small;
   background-color: #E3E3E3;   /* Simula background colour: #E3E3E3 */
   background-image: url("https://www.nntb.no/~dreibh/graphics/backgrounds/background-wiehl.png");
}


/* ###### Header ########################################################  */
div.program-header {
   background-image: none;
   background-color: #F15D22;   /* Simula header colour: #F15D22 */
   height:           7.5vh;
   display:          flex;
   justify-content:  space-between;
}

div.program-logo-left {
   width:            12.5vw;
   float:            left;
   display:          flex;
   padding:          0% 1%;
   align-items:      center;
   background:       white;
}

div.program-logo-right {
   width:            12.5vw;
   float:            right;
   display:          flex;
   padding:          0% 1%;
   align-items:      center;
   background:       white;
}

div.program-title {
   display:          flex;
   align-items:      center;
   padding:          0% 1%;
   background-image: none;
   background-color: #F15D22;   /* Simula header colour: #F15D22 */

   font-family:      "Open Sans", sans-serif;
   font-size:        4vh;
   font-weight:      bold;
}

img.program-logo-image {
   min-height:       4vh;
   max-height:       4vh;
}
